build
obj
build-msvc
build-msvc-tracing
vc70.pdb
log.txt
artifacts/F3.exe.i64
artifacts/F3.exe.id0
artifacts/F3.exe.id1
artifacts/F3.exe.id2
artifacts/F3.exe.nam
artifacts/F3.exe.til

.sisyphus
.omo
.codegraph

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

node_modules

.opencode
opencode.jsonc
.clangd

.rework/re.db
.rework/re.db-shm
.rework/re.db-wal

van-buren-docs
