[submodule "openje"]
	path = modules/openje
	url = https://github.com/OpenJE/openje
[submodule "tracing"]
	path = modules/tracing
	url = https://github.com/OpenJE/tracing
[submodule "opencode-openje"]
	path = modules/opencode-re
	url = https://github.com/OpenJE/opencode-openje
[submodule "modules/patterns"]
	path = modules/patterns
	url = https://github.com/OpenJE/patterns
