build
obj
build-msvc
build-msvc-tracing
vc70.pdb
log.txt
F3.exe.i64
F3.exe.id0
F3.exe.id1
F3.exe.id2
F3.exe.nam
F3.exe.til

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.opencode
opencode.jsonc

.rework/re.db
.rework/re.db-shim
.rework/re.db-wal
