name: Build and Deploy App
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
jobs:

  #-----------------------------------------------------------------------------

  #-----------------------------------------------------------------------------
